[build]
  command = "npm run build"
  publish = "."
  functions = "netlify/functions"
  environment = { SECRETS_SCAN_OMIT_KEYS = "LIVEKIT_RECORDING_LAYOUT,LIVEKIT_URL" }

[functions]
  node_bundler = "esbuild"

# Redirects
[[redirects]]
  from = "/match"
  to = "/matchmaking.html"
  status = 200

[[redirects]]
  from = "/pricing"
  to = "/pricing.html"
  status = 200

[[redirects]]
  from = "/cashout"
  to = "/cashout.html"
  status = 200
